/.DS_Store
/H1W1plus.html
/H2W1plus.html
/HW-week1.html
/HW_week2.html
/index.html
/indice.html
/w1.html
/w1l10.html
/w1l12.html
/w1l13.html
/w1l15.html
/w1l16.html
/w1l17.html
/w1l18.html
/w1l19.html
/w1l20.html
/w2l10.html
/w2l4.html
/w2l5.html
/w2l6.html
/w2l7.html
/w2l8.html